.order {
    padding: 40px;
    margin: 20px 0;
    border: 1px solid lightgray;
    background-color: white;
    position: relative;
}

.order__id {
    position: absolute;
    top: 40px;
    right: 20px;
  }

.order__total {
    font-weight: 500;
    text-align: right;
}

.checkoutItem {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #DDD;
}

.checkoutItem > img {
    height: 180px;
    width: 180px;
    object-fit: contain;
}

.checkoutItem__info {
    padding-left: 20px;
}

.checkoutItem__title {
    color: #007185;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.checkoutItem__rating {
    display: flex;
}

.checkoutItem__info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}