.checkout {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: max-content;
}

.checkout__left {
    background-color: white;
    flex: 1;
    margin-right: 20px;
    padding: 0 20px;
    position: relative;
}

.checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
}

.checkout__right > img {
    width: 100%;
    object-fit: contain;
}